/* сброс CSS: cdnjs.com -> normalize.css */

#mouse-area {
  height: 400px;
  width: 400px;
  border: 1px solid rgb(181, 233, 216);  
  background-color: rgb(206, 211, 255);
}

#clipboardArea {
  height: 400px;
  width: 400px;
  border: 1px solid rgb(181, 233, 216);  
  background-color: rgb(243, 199, 3);
  resize: none;       /*запрет ресайза блока, textarea*/
  caret-color: rgb(255, 0, 0);   /*цвет каретки (курсора), сработает, когда нажать на текст (мигающий курсор)*/
}

.hover {
  background-color: aquamarine !important;
}

.progress-container {
  line-height: 0px;
}

.progress-container progress {
  width: 100%;
  height: 3px;
}

.hidden {
  display: none;
}